$white:#ffffff;
$black:#000000;

// custom
$deep-yellow: #FDCD00;
$blue-gray: #909AA7;
$blue-darkgray: #424952;

// shading
$light-gray: #F9F9FA;
$dark-gray: #4A4A4A;

$light-dashed: #DCDCDC;
$gray-dashed: #C5C5C5;
$darkgray-dashed: #686868;