.btn {
  position: relative;
  background-color:#424952;
  font-family: Gotham Pro;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  border-radius: 0;
  padding: 20px 80px;
  vertical-align: baseline;
  
  .btn-try {
    text-align: left;
    color: #FDCD00;
    font-size: 28px;
    font-weight: 100;
    padding-right: 70px;
    text-decoration: none;

    &:hover {
      color: #FDCD00;
      // text-decoration: none;
    }
  }

  .arrow {
    position: absolute;
    right: 0;
    top: 0;

    background-color:#FDCD00;
    padding: 25px 31px;
    outline: 1px solid #FDCD00;
  }
}

// HEADER
.header-text {
  font-family: Helvetica Neue,"HelveticaNeueLight","Helvetica",Helvetica,Arial,sans-serif;
  // "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 42px;
  color: #4A4A4A;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  letter-spacing: 1.4px;
  padding:15px 0 60px;

}

.center {
  text-align: center;
}