.btn {
  position: relative;
  background-color:$blue-darkgray;
  font-family: 'Gotham', Arial, sans-serif;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  border-radius: 0;
  padding: 20px 80px;
  vertical-align: baseline;
  
  .btn-try {
    text-align: left;
    color: $deep-yellow;
    font-size: 28px;
    padding-right: 70px;
    text-decoration: none;

    &:hover {
      color: $deep-yellow;
      // text-decoration: none;
    }
  }

  .arrow {
    position: absolute;
    right: 0;
    top: 0;

    background-color:$deep-yellow;
    padding: 25px 31px;
    outline: 1px solid $deep-yellow;
  }
}

// HEADER
.header-text {
  font-family: 'HelveticaNeueLight', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 42px;
  color: $dark-gray;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1.4px;
  padding:15px 0 60px;

}

.center {
  text-align: center;
}