// normalize
// @import "../bower_components/normalize-scss/_normalize.scss";

// grids susy
// @import "../bower_components/susy/sass/_susy.scss";
// @import "../bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";

// bootstrap
// @import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-mincer.scss";
// @import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// @import "susy";
@import "colors";
@import "typography";
@import "common";
@import "media";

.header {
	padding-top: 50px;
	background-color:#F9F9FA;
  img {
  }
  .logo {
    
  }
  .nav a {
  	color: #4A4A4A;
  	font-size: 22px;
  	font-family: Gotham Pro;
  	font-weight: 300;
    padding-bottom:8px;
    border-bottom: 1px dashed #BDBDBD;
    text-decoration: none;
    cursor: pointer;
  }
}

// INTRO
.intro {
  height: 520px;
	background-color: #F9F9FA;
  text-align: center;
  // padding-bottom: 60px;
  img {
    padding: 60px 0 30px 0;
  }
  .intro-header {
    font-family: Helvetica Neue;
    font-size: 50px;
    letter-spacing: 1.4px;
    font-weight: 100;
    padding-bottom: 6px;
    color: #4A4A4A;
  }
  .intro-title {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    color: #909AA7;
  }
}

// TRY NOW
.try {
  padding-top: 240px;
  height: 650px;
  background: $white url(../img/bg_banner.png) repeat-x;
  background-position: bottom;
  text-align: center;
}

// 3 STEPS FROM IDEA TO HEALTHCARE APP
.steps {
  text-align: center;
  .header-text {
    padding-bottom: 80px;
  }
  .hack {
    padding-top: 46px;
  }
  .steps-header {
    font-family: Open Sans;
    font-size: 28px;
    line-height: 43px;
    font-weight: 100;
    text-align: center;
    padding-bottom:20px;
  }
  .steps-bodytext {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    color: #4A4A4A;
    text-align: left;
  }
}


// WHAT IS THE BOX ?
.isbox {
  height:1150px;
  padding-top: 200px;
  background: $white url(../img/bg-illustration.png) repeat-x;
  .header-text {
    padding-bottom: 25px;
  }
  .list{
    display: none;
  }
  .cloud {
    display: show;
  }
  .isbox-bodytext {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0.4px;
    color: #909AA7;
    line-height: 40px;
    text-align: center;
    padding: 0 0 10px;
  }
}

// HOW USE THE BOX ?
.usebox {
  .header-text {
    padding:80px 0 40px 0;
  }
  .use-box {
    padding: 40px;
  }
  .use-header {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    padding-bottom:10px;
    padding-left:40px;
  }
  .use-bodytext {
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 100;
    line-height: 30px;
    text-align: left;
    padding-left:40px;
    color: #909AA7;
  }
}

// WHO AND WHY USE BOX ?
.whybox {
  padding-top: 100px;
  .why-box {
    background: #F9F9FA;
    padding: 20px 40px 35px;
    margin-bottom: 16px;
    border-radius: 40px;
  }
  
  .why-header,
  .why-bodytext {
    font-family: Open Sans;
    font-size: 27px;
    padding-bottom: 6px;
    text-align: left;
    font-weight: 100;
    margin: 0;
  }
  
  .why-header {
    border-bottom: 1px dashed #C5C5C5;
    padding-bottom: 8px;
  }
  .why-bodytext {
    font-size: 18px;
    padding-top: 10px;
  }
  
  .name {
    font-family: Open Sans;
    font-size: 20px;
    margin-left: 30px;
    color: #4A4A4A;
  }
}

// NEXT GENERATION
.nextgen {
  padding-top: 150px;
  .header-text {
    padding:10px 0 34px;
  }
}

// FOOTER
.footer {
  padding-top:150px;
  .hs-hidden {
    display: none;
  }
  .pseudoline {
    display: block;
  }
  .hs {
    padding:80px 40px 0 0;
    font-family: Gotham Pro;
    font-size: 27px;
    text-align: center;
    font-weight: 100;
    .links  {
      .icon-link {
        color: black;
        font-size: 42px;
        padding: 0 20px;
        margin-bottom: 20px;
      }
    }
  }
  .copyright {
    padding-top: 5px;
  }
  .hs-team {
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 1px dashed #686868;
  }
}