@import "../bower_components/normalize-scss/_normalize.scss";
@import "typography";
@import "colors";
@import "common";
@import "media";
@import "animation";

.header {
	padding-top: 50px;
	background-color:$light-gray;
  img {
  }
  .logo {
    
  }
  .nav a {
  	color: $dark-gray;
  	font-size: 22px;
  	font-family: 'GothamRegular', Arial, sans-serif;
    padding-bottom:8px;
    border-bottom: 1px dashed $gray-dashed;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-menu {
    display: none;
  }

}

// INTRO
.intro {
  height: 520px;
	background-color: $light-gray;
  text-align: center;
  // padding-bottom: 60px;
  .intro-img {
    padding: 60px 0 30px 0;

    animation-duration: 1s; // animation duration
    animation-delay: 1s; // delay animation
    // animation-iteration-count: 2; // looping -infinite
  }
  .intro-header {
    font-family: 'HelveticaNeueLight', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 50px;
    letter-spacing: 1.4px;
    padding-bottom: 6px;
    color: $dark-gray;
  }
  .intro-title {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: $blue-gray;
  }
}

// TRY NOW
.try {
  padding-top: 240px;
  height: 650px;
  background: $white url(../img/bg_banner.png) repeat-x;
  background-position: bottom;
  text-align: center;
}

// 3 STEPS FROM IDEA TO HEALTHCARE APP
.steps {
  text-align: center;
  .header-text {
    padding-bottom: 80px;
  }
  .hack {
    padding-top: 46px;
  }
  .steps-header {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    padding-bottom:20px;
  }
  .steps-bodytext {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;
    text-align: left;
  }
}


// WHAT IS THE BOX ?
.isbox {
  height:1150px;
  padding-top: 200px;
  background: $white url(../img/bg-illustration.png) repeat-x;
  .header-text {
    padding-bottom: 25px;
  }
  .list{
    display: none;
  }
  .cloud {
    display: hide;
  }
  .isbox-bodytext {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 30px;
    letter-spacing: 0.4px;
    color: $blue-gray;
    line-height: 40px;
    text-align: center;
    padding: 0 0 10px;
  }
}

// HOW USE THE BOX ?
.usebox {
  .header-text {
    padding:80px 0 40px 0;
  }
  .use-box {
    padding: 40px;
  }
  .use-header {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-bottom:10px;
    padding-left:40px;
  }
  .use-bodytext {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
    padding-left:40px;
    color: $blue-gray;
  }
}

// WHO AND WHY USE BOX ?
.whybox {
  padding-top: 100px;
  .why-box {
    background: $light-gray;
    padding: 20px 40px 35px;
    margin-bottom: 16px;
    border-radius: 40px;
  }
  
  .why-header,
  .why-bodytext {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 27px;
    padding-bottom: 6px;
    text-align: left;
    margin: 0;
  }
  
  .why-header {
    border-bottom: 1px dashed $gray-dashed;
    padding-bottom: 8px;
  }
  .why-bodytext {
    font-size: 18px;
    padding-top: 10px;
  }
  
  .name {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    color: $dark-gray;
  }
}

// NEXT GENERATION
.nextgen {
  padding-top: 150px;
  .header-text {
    padding:10px 0 34px;
  }
}

// FOOTER
.footer {
  padding-top:150px;
  .hs-hidden {
    display: none;
  }
  .pseudoline {
    display: block;
  }
  .hs {
    padding:80px 40px 0 0;
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 27px;
    text-align: center;
    .links  {
      .icon-link {
        color: $black;
        font-size: 42px;
        padding: 0 20px;
        margin-bottom: 20px;
      }
    }
  }
  .copyright {
    padding-top: 5px;
  }
  .hs-team {
    font-family: 'GothamMedium', Arial, sans-serif;
    padding-bottom: 3px;
    border-bottom: 1px dashed $darkgray-dashed;
  }
}