header.header
	.container
		.row.wow.fadeInDown
			.col-md-6.col-sm-6.col-xs-6
				img.text-left.logo(src="img/logo_startbox.png", alt="startbox-logo")
			.col-md-6.col-sm-6.col-xs-6
				nav.nav.text-right
					a How it works?
					a.nav-menu.pull-right &#9776;