.intro
 .container
    img.intro-img.wow.animated.fadeIn(src="img/icon.png", alt="icon")
    p.intro-header.wow.animated.fadeIn Build Healthcare Apps by 3 simple steps!
    p.intro-title.wow.animated.fadeInUp
      span.pseudoline Cloud-based platform for rapid development&nbsp;
      span.pseudoline of healthcare web and mobile apps