.intro
 .container
    img.intro-img.wow.fadeIn(src="img/icon.png", data-wow-offset="100", alt="icon")
    p.intro-header.wow.fadeIn Build Healthcare Apps by 3 simple steps!
    p.intro-title.wow.fadeInUp
      span.pseudoline Cloud-based platform for rapid development&nbsp;
      span.pseudoline of healthcare web and mobile apps