.intro
 .container
    img(src="img/icon.png", alt="icon")
    p.intro-header Build Healthcare Apps by 3 simple steps!
    p.intro-title 
      span.pseudoline Cloud-based platform for rapid development&nbsp;
      span.pseudoline of healthcare web and mobile apps