//- normalize
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")

//- bootstrap
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

//- font-awesome
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

//- animate.css
link(rel="stylesheet", href="https://cdn.jsdelivr.net/animatecss/3.4.0/animate.min.css")

//- custom
link(rel="stylesheet", href="css/style.min.css")