include ./_head.jade
include ./_header.jade
include ./_intro.jade
include ./_try.jade
include _content/_01_steps.jade
include _content/_02_isbox.jade
include _content/_03_usebox.jade
include _content/_04_whybox.jade
include _content/_05_nextgen.jade
include ./_footer.jade