.steps
  .container
    .row.wow.animated.fadeInUp
      h3.header-text 3 steps from Idea to Healthcare App
    .row
      .col-md-4
        .steps-img.hack.wow.animated.fadeInDown
          img(src="img/icon_01.png", alt="")
        h4.steps-header.wow.animated.fadeInUp Sign Up and 1. Create box in One-Click
        p.steps-bodytext Cloud-pased platform for rapid development of healthcare apps, Cloud-pased platform for rapid development of healthcare apps, 
      .col-md-4
        .steps-img.wow.animated.fadeInDown
          img(src="img/icon_02.png", alt="")
        h4.steps-header.wow.animated.fadeInUp 2. Clone Sample and Develop JavaScript App
        p.steps-bodytext Cloud-pased platform for rapid development of healthcare apps, Cloud-pased platform for rapid development of healthcare apps,  
      .col-md-4
        .steps-img.wow.animated.fadeInDown
          img(src="img/icon_03.png", alt="")
        h4.steps-header.wow.animated.fadeInUp 3. Deploy and Share your Customer/Investors
        p.steps-bodytext Cloud-pased platform for rapid development of healthcare apps, Cloud-pased platform for rapid development of healthcare apps,    