.steps
  .container
    .row
      h3.header-text 3 steps from Idea to Healthcare App
    .row
      .col-md-4
        .steps-img.hack
          img(src="img/icon_01.png", alt="")
        h4.steps-header Sign Up and 1. Create box in One-Click
        p.steps-bodytext Cloud-pased platform for rapid development of healthcare apps, Cloud-pased platform for rapid development of healthcare apps, 
      .col-md-4
        .steps-img
          img(src="img/icon_02.png", alt="")
        h4.steps-header 2. Clone Sample and Develop JavaScript App
        p.steps-bodytext Cloud-pased platform for rapid development of healthcare apps, Cloud-pased platform for rapid development of healthcare apps,  
      .col-md-4
        .steps-img
          img(src="img/icon_03.png", alt="")
        h4.steps-header 3. Deploy and Share your Customer/Investors
        p.steps-bodytext Cloud-pased platform for rapid development of healthcare apps, Cloud-pased platform for rapid development of healthcare apps,    