.isbox
	.container
		.row.text-center
			h2.header-text What is the box ?
			span.isbox-bodytext.pseudoline Focus on your Idea and don’t worry about
			span.isbox-bodytext.pseudoline database, API and infrastructure!
		.row.cloud
			img.img-responsive.center-block.wow.animated.fadeInUp(src="img/illustration.png", alt="")
		.row.list
			include ./_hidden-container.jade