.isbox
  .container
    h2.header-text What is the box ?
    h3.isbox-bodytext Focus on your Idea and don’t worry about
      br 
      | database, API and infrastructure!
    img.img-responsive(src="img/illustration.png", alt="")