.usebox.center
	.container
		h2.header-text How use the box ?
		.row.use-box
			.col-md-2.col-md-offset-2
				img.wow.animated.fadeInLeft.use-img(src="img/icon_04.png", alt="")
			.col-md-6
				h3.wow.animated.fadeInRight.use-header Build Web App with Startbox
				p.wow.animated.fadeInRight.use-bodytext Startbox for web apps as backend basis with user management workflow.
		.row.use-box
			.col-md-2.col-md-offset-2
				img.use-img(src="img/icon_05.png", alt="")
			.col-md-6
				h3.use-header Build Mobile Client with Startbox
				p.use-bodytext Startbox for mobile clients as cloud-based Healthcare Storage with standardized REST API and OAuth features.
