.whybox.center
  .container
    h2.header-text Who and why use the box ?
    .row
      .col-md-2.col-md-offset-1 
        img.pull-right(src="img/faces.png", alt="")
        p.name Adam Smith
      .col-md-6.why-box
        p.why-header Start Up with Startbox
        p.why-bodytext for attraction of investments 

    .row
      .col-md-6.why-box-flipped.col-md-offset-1
        p.why-header Start Up with Startbox
        p.why-bodytext for attraction of investments
      .col-md-2
        img.pull-left(src="img/faces.png", alt="")
        p.name-flipped Adam Smith
    
    .row
      .col-md-2.col-md-offset-1 
        img.pull-right(src="img/faces.png", alt="")
        p.name Adam Smith
      .col-md-6.why-box
        p.why-header Start Up with Startbox
        p.why-bodytext for attraction of investments 