.whybox.center
	.container
		h2.header-text Who and why use the box ?
		.row
			.col-md-3
				img.why-img.pull-right(src="img/faces.png", alt="")
				//- p.name Adam Smith
			.col-md-6.why-box
				.hidden-text
					p.why-header Start Up with Startbox
					p.why-bodytext.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident facere hic commodi beatae amet fuga, tempora dolor in, iure officiis.
		.row
			.col-md-6.col-md-offset-3.why-box
				.hidden-text
					p.why-header Start Up with Startbox
					p.why-bodytext.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident facere hic commodi beatae amet fuga, tempora dolor in, iure officiis.

			.col-md-3
				img.why-img.pull-left(src="img/faces.png", alt="")
				//- p.name-flipped Adam Smith


		.row
			.col-md-3 
				img.why-img.pull-right(src="img/faces.png", alt="")
				//- p.name Adam Smith
			.col-md-6.why-box
				.hidden-text
					p.why-header Start Up with Startbox
					p.why-bodytext.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident facere hic commodi beatae amet fuga, tempora dolor in, iure officiis. 