.nextgen.center
	.container
		img.computer(src="img/tmp_imgs.png", alt="")
		h3.header-text Make next-generation Healthcare Apps
		.btn
			a.btn-try(href="#") try now
			img.arrow(src="img/>.svg", alt="arrow")