.hidden-container
	.row
		.col-xs-3
			img.mini-img.pull-right(src="img/use-01.png", alt="")
		.col-xs-9
			h3.hidden-title User Admin Add-on
			p.hidden-bodytext.text-muted Registration workflow for your app

	.row
		.col-xs-3
			img.mini-img.pull-right(src="img/use-02.png", alt="")
		.col-xs-9
			h3.hidden-title Sample App
			p.hidden-bodytext.text-muted for your JavaScript Application

	.row
		.col-xs-3
			img.mini-img.pull-right(src="img/use-03.png", alt="")
		.col-xs-9
			h3.hidden-title REST API
			p.hidden-bodytext.text-muted Based on FHIR standard

	.row
		.col-xs-3
			img.mini-img.pull-right(src="img/use-04.png", alt="")
		.col-xs-9
			h3.hidden-title FHIRbase
			p.hidden-bodytext.text-muted Relational DB based on FHIR

	.row
		.col-xs-3
			img.mini-img.pull-right(src="img/use-05.png", alt="")
		.col-xs-9
			h3.hidden-title Amazon AWS
			p.hidden-bodytext.text-muted HIIPA Complaint cloud